In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('titanic-passengers.csv' , sep = ';')
df = data
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,Yes,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
887,61,No,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
888,535,No,3,"Cacic, Miss. Marija",female,30.0,0,0,315084,8.6625,NaN,S
889,102,No,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,NaN,0,0,349215,7.8958,NaN,S
890,428,Yes,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",female,19.0,0,0,250655,26.0000,NaN,S

In [20]:
# Replacing missing values :

df['Age'].fillna(df['Age'].mean() , inplace = True)
df['Cabin'].fillna("G6" , inplace = True)
df['Embarked'].fillna("S" , inplace = True)
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,0,2,"Collander, Mr. Erik Gustaf",0,28.000000,0,0,248740,13.0000,G6,2.0
1,76,0,3,"Moen, Mr. Sigurd Hansen",0,25.000000,0,0,348123,7.6500,F G73,2.0
2,641,0,3,"Jensen, Mr. Hans Peder",0,20.000000,0,0,350050,7.8542,G6,2.0
3,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",1,29.000000,0,4,349909,21.0750,G6,2.0
4,672,0,1,"Davidson, Mr. Thornton",0,31.000000,1,0,F.C. 12750,52.0000,B71,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",1,14.000000,1,0,237736,30.0708,G6,1.0
887,61,0,3,"Sirayanian, Mr. Orsen",0,22.000000,0,0,2669,7.2292,G6,1.0
888,535,0,3,"Cacic, Miss. Marija",1,30.000000,0,0,315084,8.6625,G6,2.0
889,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",0,29.699118,0,0,349215,7.8958,G6,2.0
890,428,1,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",1,19.000000,0,0,250655,26.0000,G6,2.0

In [11]:
# Transforming numerical values to categorical values :

from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
cleanup_nums = {'Survived' : {'No': 0 , 'Yes': 1}}
df.replace(cleanup_nums , inplace = True)
cleanup_nums_2 = {'Sex' : {'male': 0 , 'female': 1}}
df.replace(cleanup_nums_2 , inplace = True)
cleanup_nums_3 = {'Embarked' : {'Q': 0 , 'C': 1 , 'S': 2}}
df.replace(cleanup_nums_3 , inplace = True)

In [12]:
from sklearn.model_selection import train_test_split

In [21]:
x = data[['Pclass' , 'Sex' , 'Age' ,'Embarked']]
y = data['Survived']
print('x : ' , x)
print('y : ' , y)

x :       Pclass  Sex        Age  Embarked
0         2    0  28.000000       2.0
1         3    0  25.000000       2.0
2         3    0  20.000000       2.0
3         3    1  29.000000       2.0
4         1    0  31.000000       2.0
..      ...  ...        ...       ...
886       2    1  14.000000       1.0
887       3    0  22.000000       1.0
888       3    1  30.000000       2.0
889       3    0  29.699118       2.0
890       2    1  19.000000       2.0

[891 rows x 4 columns]
y :  0      0
1      0
2      0
3      0
4      0
      ..
886    1
887    0
888    0
889    0
890    1
Name: Survived, Length: 891, dtype: int64

In [90]:
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.4)

In [100]:
from sklearn import tree

In [109]:
model = tree.DecisionTreeClassifier(min_samples_split = 3 , random_state = 10)
model.fit(x_train , y_train)

DecisionTreeClassifier(min_samples_split=3, random_state=10)

In [110]:
model.score(x_train , y_train)

0.9044943820224719

In [111]:
model = tree.DecisionTreeClassifier(min_samples_split = 5 , random_state = 20)
model.fit(x_train , y_train)

DecisionTreeClassifier(min_samples_split=5, random_state=20)

In [112]:
model.score(x_train , y_train)

0.898876404494382

In [91]:
from sklearn.ensemble import RandomForestClassifier

In [94]:
model = RandomForestClassifier(n_estimators = 3000 , random_state = 30)
model.fit(x_train , y_train)

RandomForestClassifier(n_estimators=3000, random_state=30)

In [95]:
model.score(x_test , y_test)

0.8011204481792717

In [113]:
model = RandomForestClassifier(n_estimators = 40 , random_state = 20)
model.fit(x_train , y_train)

RandomForestClassifier(n_estimators=40, random_state=20)

In [114]:
model.score(x_test , y_test)

0.7955182072829131